body {
    margin: 0;
    overflow: hidden;

    background-image: url("geewhizard_bkg_tiledage.png");
    background-repeat: repeat;
    background-size: 300px;

    animation: scrollBackground 15s linear infinite;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 300px 300px;
    }
}

h1 {
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    color: white;
    margin-top: 20px;
